@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body::-webkit-scrollbar {
  display: none;
}

.hero{
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #eee2dc;
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
}

.container{
  background-color: #edc7b7;
  border-radius: 0.5em;
  width: 50%;
  padding: 3rem;
  display: block;
}

.title{
  margin-bottom: 0.2em;
  color: #123c69;
}

input{
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  border-radius: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.textInput{
  width: 30%;
  background-color: #eee2dc;
  color: #ac3b61;
}

.convert{
  background-color: #bab2b5;
  color: #123c69;
  font-weight: bold;
}

.hex-hash{
  height:4rem;
  width: 85%;
  display: block;
  word-wrap: break-word;
  padding: 0.5rem;
  display: block;
  background-color: #eee2dc;
  color: #ac3b61;
  overflow-x: auto;
}

.bi-hash{
  height:7rem;
  width: 85%;
  word-wrap: break-word;
  padding: 0.5rem;
  display: block;
  background-color: #eee2dc;
  color: #ac3b61;
  overflow-x: auto;
}


